.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 30em) {
  .contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    width: 100%;
    .posContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: calc(100% - 40px);
      margin: 0 20px;

      h1 {
        font-size: 26px;
        font-weight: bold;
        width: 100%;
        text-align: left;
      }
      h2 {
        font-size: 20px;
        color: gray;
        width: 100%;
        text-align: left;
      }

      .imgContainer {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      .detailsContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
      }

      .rowContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
@media (min-width: 30em) {
  .contentContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;

    .posContainer {
      max-width: 1100px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      h1 {
        font-size: 36px;
        font-weight: bold;
      }
      h2 {
        color: grey;
      }

      .imgContainer {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      .detailsContainer {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
      }
    }
  }
}
